# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.pyc
*.exe
*.bat
*.compiled
*.js
*.map
pydeck*
*.cfg
*.cmd

# Distributions
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
Lib/        # Windows環境でPythonをインストールした場合など
Lib/*
activate*
share/*
# VS Code
.vscode/
.settings/

# macOS
.DS_Store

#jupyter
*.ipynb

#others
Scripts/jsondiff
Scripts/jsonpatch
Scripts/jsonpointer
Scripts/numba
Scripts/*.csv

.gitignore
numba
output.wav
sample.html
env_template.txt
system_audio_transcript_20250521_232506.txt
jsonpatch
jsondiff
jsonpointer
vba_extract.py
output.txt
.env
notes/*
azure_realtime_sample.py
input.wav


.gitignore

talk.log
talk_test.py
test_results.txt
output.txt
search_temperature_top_p.py
output.txt
